h1 {
    text-align: center;
    background-color:#333c54;
    color: white; 
    font-weight: bold;
}
h2 {
    text-align: center;
    color: black; 
}
h3 {
    text-align: center;
    color: white
}